<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
    <title>Dashboard</title>
</head>

<body id="body">
    <div class="wrapper" id="main-wrapper">
        <main class="main">
            <header>
                <div class="title">Dashboard</div>  
            </header>   
            <div class="row">
                <div class="data">
                    <div>RPM:</div> 
                    <div class="text" id="rpm-val">0</div>
                </div>
                <div class="data">   
                    <div>Flowrate:</div> 
                    <div class="text" id="flowrate-val">0</div>
                </div>
            </div>
            <div class="row">
                <div class="data">   
                    <div>MM of Rain:</div> 
                    <div class="text" id="mm-val">0</div>
                </div>
                <div class="data">   
                    <div>Rain Intensity:</div> 
                    <div class="text" id="intensity-val">0</div>
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </div>
</body>
</html>
